<div class="row my-2">
  <button type="button" class="btn btn-danger">&lt; Go back</button>
</div>
<div class="row my-2" *ngIf="movie">
  <div class="card col-12 p-0">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{movie.poster_path | moviePhoto: 300: 450}}" class="card-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <p class="card-text">{{movie.overview}}</p>
      </div>
    </div>
  </div>
</div>
</div>
