<div class="container my-2">
  <h1>YouTube Channel</h1>
  <hr>
  <div class="card-columns" *ngIf="videos">
    <div class="card" *ngFor="let video of videos">
      <img [src]="video.thumbnails.high.url" class="card-img-top" [alt]="video.title">
      <div class="card-body">
        <h5 class="card-title">{{video.title}}</h5>
        <button type="button" class="btn btn-outline-primary btn-block" (click)="viewVideo(video)">View video</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-outline-info btn-block" (click)="loadVideos()">Load more videos</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true"
      data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedVideo">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{selectedVideo.title}}</h5>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="300" [src]="selectedVideo.resourceId.videoId | youTubeUri"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close modal</button>
      </div>
    </div>
  </div>
</div>
