<h4>Forms <small>data</small></h4>
<hr>
<form [formGroup]="form" (ngSubmit)="save()" class="needs-validation">

  <div formGroupName="completeName">

    <div class="form-group row">
      <label class="col-md-2 col-form-label">Name</label>
      <div class="col-md-8">

        <input class="form-control"
               type="text"
               placeholder="Name"
               formControlName="name">
         <div *ngIf="form.get('completeName.name').errors?.required">
           This field is required
         </div>
         <div *ngIf="form.get('completeName.name').errors?.minlength">
           This field is {{form.get('completeName.name').errors.minlength.requiredLength}} characters minimum
         </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label">Last name</label>
      <div class="col-md-8">

        <input class="form-control"
               type="text"
               placeholder="Last name"
               formControlName="lastName">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Email</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Email"
             formControlName="email">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Username</label>
    <div class="col-md-8">

      <input class="form-control"
             type="text"
             placeholder="Username"
             formControlName="username">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="password"
             formControlName="password1">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Repeat password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="Repeat password"
             formControlName="password2">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Hobbies</label>
    <div class="col-md-8" formArrayName="hobbies">

      <input *ngFor="let hobbie of form.controls['hobbies'].controls; let idx = index"
            class="form-control"
             type="text"
             placeholder="Hobbies"
             [formControlName]="idx"
             #hobbie>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary"
              (click)="addHobbie(hobbie)">
        New
      </button>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary" [disabled]="form.invalid">
        Save
      </button>
    </div>
  </div>

<pre>
<!-- {{form.value | json}} -->
{{form.valid}}
{{form.status}}
</pre>

</form>
