<h1>Heroes</h1>
<hr>
<div class="row my-2">
  <div class="col-md-12 text-right my-2">
    <button type="button" name="button"
            [routerLink]="['/heroe', 'new']"
            class="btn btn-outline-primary btn-sm">
      Add heroe
    </button>
  </div>
</div>
<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">House</th>
            <th scope="col" class="text-center">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key of heroes | keys; let id = index" class="animated fadeIn">
            <th scope="row">{{id + 1}}</th>
            <td>{{heroes[key].name}}</td>
            <td>{{heroes[key].house}}</td>
            <td class="text-right">
              <button type="button" class="btn btn-outline-warning mr-2"
                      [routerLink]="['/heroe', key]">
                Edit
              </button>
              <button type="button" class="btn btn-outline-danger"
                      (click)="deleteHeroe(key)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="(heroes | keys).length === 0 && !loading" class="alert alert-info" role="alert">
        <strong>There are no records to display</strong>
      </div>
      <div *ngIf="loading" class="alert alert-warning" role="alert">
        <strong>Loading...</strong> please wait!
      </div>
    </div>
  </div>
</div>
